/* para todo o site 
CTRL + SHIFT + R  - para atualizar todo o site e tirar o cache */ 

*{
	font-family: 'Nanum Gothic', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html, body{
	padding: 0;
	margin: 0;
}

body{
	background-color: #FAFAFA;
}

img{
	max-width: 100%;
}

.navegador {
	width:100%;
	margin: 0 auto;
	padding: 10px;
	text-decoration: none;
	position: fixed;
	z-index: 1;
	background-color: #263C70;
	top: 0;
	border-bottom-style: dotted;
	border-color: white;
}

.marca{
	display: inline-block;	
	color: white;
	margin-left: 20px;
	text-decoration: none;
}

.container{
	overflow: hidden;
	max-width: 960px;
	margin: 0 auto;
	padding: 10px;
	text-decoration: none;
}

.nav-plane{
	max-width: 35px;
	height: 35px;
	text-align: left;
}

.nav-list{
	display: inline-block;
	float: right;
	margin-top: -45px;
	overflow: hidden;
	color: white;
}

.nav-list li{
	display: inline-block;
	letter-spacing: 2px;
	text-align: right;
}

.nav-list a{
	text-decoration: none;
	display: inline-block;
	color: inherit;
	padding: 0px 20px;
}


.header{
	max-width: 960px;
	margin: 0 auto;
	padding: 10px;
	text-align: justify-all;
	background-image: url("./images/maresias.jpg");
	background-size: 100%;
	margin-top: 120px;
	box-shadow: -25px 25px 25px rgba(25,25,25,0.5);
}

.background{
	background-image: linear-gradient(to top, white,transparent);
}

.header h1, p{
	padding: 25px;
	text-align: center;
	position: relative;
	width: 100%; 
}

.fundoimgedes{
	background-image: linear-gradient(transparent, #FFDC2C, transparent);
}

.section h2{
	text-align: center;
}
.card-list{ 
		margin: 0 auto;
}
.cards .card{
	box-sizing: border-box;
	margin: 0 10px;
	transition: all 400ms linear;
}

.card img{
	width: 350px;
	height: 200px;
}

.cards .card-list .card{
	width: calc(33% - 20px);
	display: inline-block;
}

.card:hover { 
	transform: scale(1.1,1.1);
	max-width: 100%;
 }

.tabela{
	text-align: center;
	border-color: #4D738A;
	table-layout: fixed;
}

.tabela table{
	width: 100%;
	border-collapse: collapse;
}

.tabela table, th, td, tr{
	border: 5px solid #4D738A;
	padding: 10px;
}
.contato{
	text-align: center;
	display: flex;
	align-items: center;
}

.contato label{
	display: block;
	text-align: center;
	
}

.sociais{
	margin-top: 25px;
	text-align: center;
}

.sociais a{
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;
}

.fa-facebook:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50%;
}

.fa-twitter:hover {
  opacity: 0.7;
}

.fa-snapchat {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	border-radius: 50%;
}

.fa-snapchat:hover {
  opacity: 0.7;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
	border-radius: 50%;
}

.fa-pinterest:hover {
  opacity: 0.7;
}